{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "eslint:recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "json", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "json/*": ["error", "allowComments"],
    "quotes": [0, "single", "avoid-escape"],
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off"
  }
}
